#canvas {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 0;
  background: #203020;
}

#toolbar {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  z-index: 1;
  background: #005050;
  height: 64px;
  padding-left: 20px;
  /*padding-right: 20px;*/
}

#toolbar select,
#toolbar input {
  width: 150px;
  height: 64px;
  float: left;
  font-size: 40px;
  background: #005050;
  border: 0px;
  text-align-last: right;
  color: #000000;
}

#toolbar input {
  padding: 0;
}

#toolbar select option {
  direction: rtl;
}

#toolbar button {
  float: left;
  border: 0px;
  font-size: 40px;
  width: 64px;
  height: 64px;
  vertical-align: center;
  background: #009090;
}

#loading {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 999;
  background: #305030;
  opacity: 0.5;
  text-align: center;
}

#loading .fas {
  margin-top: 128px;
  font-size: 128px;
}

#toolbar .right {
  float: right;
}

#toolbar #voltage {
	font-size: 32px;
}

#toolbar #voltages {
  width: 20px;
}

#toolbar #voltage-adjust {
  width: 32px;
  float: left;
}

#toolbar #voltage-up,
#toolbar #voltage-down {
  width: 32px;
  height: 32px;
  padding: 0;
  margin: 0;
  background: transparent;
  font-family: FontAwesome;
  font-size: 30px;
}