#canvas {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 0;
  background: #203020;
}

#toolbar {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  z-index: 1;
  background: #005050;
  height: 64px;
  padding-left: 20px;
  /*padding-right: 20px;*/
}

#toolbar select {
  width: 150px;
  font-size: 40px;
  background: #005050;
  border: 0px;
  height: 64px;
  text-align-last: right;
  color: #000000;
  float: left;
}

#toolbar select option {
  direction: rtl;
}

#toolbar button {
  float: right;
  border: 0px;
  font-size: 40px;
  width: 64px;
  height: 64px;
  vertical-align: center;
  background: #009090;
}

#loading {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 999;
  background: #305030;
  opacity: 0.5;
  text-align: center;
}

#loading .fas {
  margin-top: 128px;
  font-size: 128px;
}