#canvas {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 0;
  background: #303030;
}

#toolbar {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  z-index: 1;
  background: #005050;
  font-size: 24pt;
  color: #c0c0c0;
  height: 40px;
}

#toolbar select {
  width: 150px;
  font-size: 24pt;
  background: #005050;
  border: 0px;
  text-align-last: right;
}

#toolbar select option {
  direction: rtl;
}

#toolbar button {
  float: right;
  border: 0px;
  font-size: 24pt;
  font-weight: 900;
  width: 40px;
  vertical-align: center;
  background: #009090;
}